{% extends "base.html" %}
{% block title %}管理後台{% endblock %}
{% block main %}
<link href="/static/form.css" rel="stylesheet" type="text/css" />
<h2>管理後台 |<a href="/admin/folder/">目錄管理</a>|<a href="/admin/">文件管理</a></h2>
<h3>編輯選項</h3>
<form action="/admin/setting/" method="post">
<table class="form">
	<tr>
        <td class="name">是否開啟客戶端上傳</td>
        <td class="value"><input type="checkbox" value="1" name="rpcupload" id="rpcupload" {% if setting.rpcupload %} checked="checked" {% endif %} ></td>
    </tr>
    
	<tr>
        <td class="name">用戶名</td>
        <td class="value"><input class="string" name="rpcuser" id="rpcuser" size="20" value="{{setting.rpcuser}}"></td>
    </tr>
    
    <tr>
    	<td class="name">密碼</td>
        <td class="name"><input class="string" name="rpcpwd" id="rpcpwd" size="20" value="{{setting.rpcpwd}}"></td>
    </tr>
	<tr>
    	<td></td>
        <td class="buttons">
        	<input type="submit" value="Save Changes"> 
        </td>
    </tr>
</table>
</form>
{% endblock %}
